@font-face {
  font-family: 'Louis George Cafe';
  src: url("../fonts/LouisGeorgeCafe-Bold.eot");
  src: url("../fonts/LouisGeorgeCafe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/LouisGeorgeCafe-Bold.woff2") format("woff2"), url("../fonts/LouisGeorgeCafe-Bold.woff") format("woff"), url("../fonts/LouisGeorgeCafe-Bold.ttf") format("truetype"), url("../fonts/LouisGeorgeCafe-Bold.svg#LouisGeorgeCafe-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Louis George Cafe';
  src: url("../fonts/LouisGeorgeCafe.eot");
  src: url("../fonts/LouisGeorgeCafe.eot?#iefix") format("embedded-opentype"), url("../fonts/LouisGeorgeCafe.woff2") format("woff2"), url("../fonts/LouisGeorgeCafe.woff") format("woff"), url("../fonts/LouisGeorgeCafe.ttf") format("truetype"), url("../fonts/LouisGeorgeCafe.svg#LouisGeorgeCafe") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Louis George Cafe';
  src: url("../fonts/LouisGeorgeCafeLight.eot");
  src: url("../fonts/LouisGeorgeCafeLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LouisGeorgeCafeLight.woff2") format("woff2"), url("../fonts/LouisGeorgeCafeLight.woff") format("woff"), url("../fonts/LouisGeorgeCafeLight.ttf") format("truetype"), url("../fonts/LouisGeorgeCafeLight.svg#LouisGeorgeCafeLight") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Louis George Cafe';
  -webkit-overflow-scrolling: touch;
}

*:focus {
  outline: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #1A212A;
}

.app {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 24px;
}

.app-header .balance .text {
  font-size: 14px;
  color: #fff;
}

.app-header .balance .money {
  font-size: 38px;
  color: #fff;
}

.app-header .avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #157AFF;
  -webkit-box-shadow: 0 6px 12px 0 rgba(21, 122, 255, 0.5);
          box-shadow: 0 6px 12px 0 rgba(21, 122, 255, 0.5);
}

.actions {
  overflow-x: auto;
  margin-bottom: 30px;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.actions ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actions ul li {
  padding: 0 15px;
  scroll-snap-align: start;
}

.actions ul li:first-child {
  padding-left: 24px;
}

.actions ul li:last-child {
  padding-right: 24px;
}

.actions ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.actions ul li a .icon {
  width: 60px;
  height: 60px;
  min-width: 60px;
  border-radius: 24px;
  background-color: rgba(83, 95, 109, 0.19);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.actions ul li a .icon i.icon-card {
  font-size: 20px;
}

.actions ul li a .text {
  font-size: 14px;
  color: #fff;
  margin-top: 13px;
}

.transactions {
  padding: 0 24px;
}

h6 {
  font-size: 16px;
  color: #fff;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: normal;
}

h6 .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h6 .buttons a {
  width: 52px;
  height: 52px;
  min-width: 52px;
  border-radius: 15px;
  background-color: rgba(83, 95, 109, 0.19);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-left: 18px;
}
/*# sourceMappingURL=style.css.map */