@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: 'Montserrat', sans-serif;
}

*:focus {
  outline: 0;
}

html, body {
  height: 100%;
}

body {
  padding: 50px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF8BE0), to(#FFE364));
  background: linear-gradient(to bottom right, #FF8BE0, #FFE364);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.component {
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 32px 23px -25px rgba(70, 93, 169, 0.13);
          box-shadow: 0 32px 23px -25px rgba(70, 93, 169, 0.13);
}

.component h4 {
  font-size: 24px;
  color: #1A2250;
  font-weight: 600;
  margin-bottom: 40px;
}

.component--web1 {
  margin-bottom: 50px;
  padding: 65px 65px 45px;
}

.component--web1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -16px;
}

.component--web1 ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 40px 20px 40px;
  font-size: 20px;
  font-weight: 500;
  color: #5F85FF;
  line-height: 31px;
  position: relative;
  border-radius: 12px;
  -webkit-transition: 300ms background-color,color, opacity;
  transition: 300ms background-color,color, opacity;
}

.component--web1 ul li a::before {
  content: '';
  width: 4px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8BCDFF), to(#6487FF));
  background: linear-gradient(to bottom, #8BCDFF, #6487FF);
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
}

.component--web1 ul li a:hover {
  background: #F6F8FF;
  color: #1A2250;
}

.component--web1 ul li a:hover img {
  opacity: 1;
  visibility: visible;
}

.component--web1 ul li a img {
  opacity: 0;
  visibility: hidden;
}

.component--web2 {
  padding: 65px 75px;
  max-width: 620px;
  text-align: center;
}

.component--web2 p {
  font-size: 20px;
  color: #1A2250;
  font-weight: 500;
  line-height: 31px;
  margin-top: -15px;
  margin-bottom: 50px;
}

.component--web2 .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.component--web2 .action a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #6189FF;
  font-size: 20px;
  font-weight: 600;
}

.component--web2 .action a img {
  opacity: 0;
  visibility: hidden;
}

.component--web2 .action a:hover {
  color: #1A2250;
}

.component--web2 .action a:hover img {
  opacity: 1;
  visibility: visible;
}

.component--web3 {
  max-width: 685px;
  padding: 65px;
}

.component--web3 h2 {
  font-size: 34px;
  color: #1A2250;
  font-weight: 600;
  margin-bottom: 40px;
}

.component--web3 p {
  font-size: 24px;
  font-weight: 500;
  color: #1A2250;
  margin-bottom: 40px;
  line-height: 36px;
}

.component--web3 .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.component--web3 .action .button {
  padding: 0 70px;
  background: -webkit-gradient(linear, left top, right bottom, from(#8BCDFF), to(#6487FF));
  background: linear-gradient(to bottom right, #8BCDFF, #6487FF);
  color: #fff;
  border-radius: 78px;
  font-size: 20px;
  margin-right: 40px;
  height: 78px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 20px 25px -15px rgba(108, 157, 243, 0.6);
          box-shadow: 0 20px 25px -15px rgba(108, 157, 243, 0.6);
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.component--web3 .action .button:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#6487FF), to(#8BCDFF));
  background: linear-gradient(to bottom right, #6487FF, #8BCDFF);
}

.component--web3 .action .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #6189FF;
  font-size: 20px;
  font-weight: 600;
}

.component--web3 .action .contact img {
  opacity: 0;
  visibility: hidden;
}

.component--web3 .action .contact:hover {
  color: #1A2250;
}

.component--web3 .action .contact:hover img {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */